<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css" /> 
</head>
img {
    width: 200px;
}
body {
    text-align: center;
    font-family: 'Arial';
    background: black
    color(srgb rgb(255, 0, 0) green blue)
}